
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Snippet: Login Form</title>
  
  
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

  <div class="wrapper" style="{ 
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 50px;
}">
    <form class="form-signin" action="login" method="POST" style="{
  max-width: 10px;
  padding: 15px 35px 45px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }">       
      <h2 style="width: 300px;
    margin-left: 200px;
    margin-bottom: 20px;
    " class="form-signin-heading">otp please!</h2>
      <input style="
    width: 300px;
    margin-left: 200px;
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  " type="password" class="form-control" name="password" placeholder="get it from melii!" required=""/>
      <button style="
    width: 300px;
    margin-left: 200px;
    margin-bottom: 20px;
    "class="btn btn-lg btn-primary" type="submit">Login</button>   
    </form>
  </div>
  
  

</body>

</html>

